@model StartupJointVenture.Web.ViewModels.ProfileViewModel

@section Styles {
    <style>
        img {
            width: 300px;
            height: 300px;
        }
    </style>
}

<h2>Profile page</h2>

<div class="row">
    <div class="form-horizontal">
        <hr />
        <div class="col-md-3">
            @if (string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="~/Content/images/no-person-image.jpg" />
            }
            else
            {
                <img src="@Model.ImageUrl" />
            }
        </div>
        <div class="col-md-9">
            @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "10" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control", type = "file", accept = "image/jpg" } })
                        @Html.ValidationMessageFor(model => model.ImageUrl)
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a href="../" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<br />
<h3>My ideas</h3>
<div class="row">
    @(Html.Kendo()
        .Grid(Model.Ideas)
        .Name("grid")
        .Columns(c => {
            c.Bound(pr => pr.Title);
            c.Bound(pr => pr.Content);
            c.Bound(pr => pr.DateCreated);
            c.Bound(pr => pr.Category.Name);
        })
        .Sortable()
        .Pageable()
        .Filterable()
        .Groupable())
</div>