@model IEnumerable<StartupJointVenture.Web.ViewModels.CommentViewModel>

@foreach (var item in Model) {
    <div class="row well">
        @if (item.Author.ImageUrl == null)
        {
            <img src="~/Content/images/nopicture.png" />
        }
        else
        {
            <img src="@item.Author.ImageUrl" />
        }
        by <strong>@item.Author.FirstName @item.Author.LastName</strong>
        <em class="pull-right">@item.DateCreated</em>
        <div class="row panel-body">
            @item.Content
        </div>
    </div>
}

