@model StartupJointVenture.Web.ViewModels.IdeaDetailsViewModel
<h2>Idea detail view</h2>
<div class="container form-horizontal">
    <div class="row">
        A startup idea shared by
        <strong> @Html.DisplayTextFor(i => i.Author.UserName) </strong> on
        <strong>@Html.DisplayTextFor(i => i.DateCreated)</strong>
    </div>
    <div class="row">
        <div class="col-sm-9 col-lg-9 col-md-9">
            <div class="quote-container">
                <span class="pin"></span>
                <blockquote class="yellow-note panel">
                    <div class="panel-body">
                        <div class="row panel-title">
                            <h3>
                                @Html.DisplayTextFor(i => i.Title)
                            </h3>
                        </div>
                        <div class="row">
                            @Html.DisplayTextFor(i => i.Content)
                        </div>
                    </div>
                </blockquote>
            </div>

            <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row">
                    <h3><img src="~/Content/images/comments.png" /> Comments</h3>
                </div>
                <div class="row">
                    <div id="allComments">
                        @if (Model.Comments.Count() == 0)
                        {
                            <p>No comments</p>
                        }
                        else
                        {
                            @Html.Action("GetAllComments", "Comments", new { ideaId = @Model.Id })
                        }
                    </div>
                </div>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="row">
                        @using (Ajax.BeginForm("AddComment", "Comments", null, new AjaxOptions
                    {
                        UpdateTargetId = "allComments",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }, new { id = "addCommentForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                <div class="row">
                                    <input type="text" name="comment" class="form-control" />
                                    <input type="hidden" name="ideaId" value="@Model.Id" />
                                </div>
                                <br />
                                <div class="row">
                                    <input type="submit" value="Send" class="btn-primary btn-lg" />
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-sm-offset-1 col-sm-5 col-lg-5 col-md-5">
                <div class="row">
                    <h3><img src="~/Content/images/cofounders.png" /> Cofounders</h3>
                </div>
                <div class="row">
                    <p>
                        Get in touch with people passionate about realizing this idea. Show others how you can contribute (eg. webdesign, funding, media coverage, launch in your country).
                    </p>
                </div>
                <div class="row">
                    <div id="allCofounders">
                        @if (Model.Cofouders.Count() == 0)
                        {
                            <p>No comments</p>
                        }
                        else
                        {
                            @Html.Action("GetAllCofounders", "Cofounder", new { ideaId = @Model.Id })
                        }
                    </div>
                </div>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="row">
                        @using (Ajax.BeginForm("AddCofounder", "CommeCofoundernts", null, new AjaxOptions
                    {
                        UpdateTargetId = "allCofounders",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }, new { id = "addCommentForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                <div class="row">
                                    <input type="hidden" name="userId" value="@Model.Author.Id" />
                                    <input type="hidden" name="ideaId" value="@Model.Id" />
                                </div>
                                <br />
                                <div class="row">
                                    <input type="submit" value="Send" class="btn-primary btn-lg" />
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3">

        </div>
    </div>
    @section scripts {
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }
