@model IEnumerable<StartupJointVenture.Web.ViewModels.CofounderViewModel>

@foreach (var item in Model)
{
    <div class="row panel">
        @if (item.User.ImageUrl == null)
        {
            <img src="~/Content/images/nopicture.png" />
        }
        else
        {
            <img src="@item.User.ImageUrl" />
        }
        <strong>
            @item.User.FirstName
            @item.User.LastName
        </strong>
        (@item.Location)
        <div>
            <em>@item.ProfSkills </em>
        </div>
    </div>
}
